# Spring Configuration
spring:
  application:
    name: interaction-service

  datasource:
    url: jdbc:postgresql://localhost:5433/ob_camunda
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC

# Camunda REST Client Configuration
camunda:
  bpm:
    client:
      base-url: http://localhost:8080/engine-rest
      async-response-timeout: 10000

# Server Configuration
server:
  port: 8081

# Logging
logging:
  level:
    root: INFO
    com.ngoctran.interactionservice: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

# Jackson Configuration
spring.jackson:
  serialization:
    write-dates-as-timestamps: false
  time-zone: UTC

# Kafka Configuration
  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
    template:
      default-topic: workflow-events

camunda.bpm:
  history-level: full
  database:
    schema-update: true
  job-execution:
    enabled: true
    deployment-aware: true
