# Spring Configuration
spring:
  application:
    name: interaction-service
  datasource:
    url: jdbc:postgresql://localhost:5433/ob_camunda
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC
  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
    consumer:
      group-id: interaction-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "com.ngoctran.interactionservice.events"
    template:
      default-topic: workflow-events

# Camunda REST Client Configuration
camunda:
  bpm:
    client:
      base-url: http://localhost:8080/engine-rest
      async-response-timeout: 10000
    history-level: full
    database:
      schema-update: true
    job-execution:
      enabled: true
      deployment-aware: true

# Server Configuration
server:
  port: 8081

# Logging
logging:
  level:
    root: INFO
    com.ngoctran.interactionservice: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
